/* for common css*/
.custom_button{
    width: 210px;
    height: 48px;
    border-radius: 0px;
    font-size: 26px;
    font-style: italic !important;
    font-family: -webkit-pictograph !important;
    border-color: #71E5E8 !important;
    background: #FF4581 !important;
    font-weight: 900;
    color: white;
}

button.custom_button:hover {
    background: #33BFBC !important;
}

.navbar { border-radius:0 !important;}

.homepage{
	position: absolute;
	top: 50%;
	left: 35%;
	z-index: 2;
}
.row{
	margin: 0px;
}

.home-back-img{
	width: 100%;
}

.heading{
	text-align: center;
}

body{
	background-image: url('../img/hosp.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
}

.form-sumbit-button{
	margin-left: 15px;
}
.help-block{
	color: red;
	font-family: initial;
}

/* for model-box css*/
.search-box{
	border-radius: 5px;
    padding: 5px;
}

.entry_button{
	width: 161px;
    height: 32px;
    background: #E878B7;
    color: whitesmoke;
    font-weight: 900;
    font-size: 16px;
    font-family: initial;
}
.entry_button:hover{
	background: #E878B7 !important;
    color: whitesmoke;
}

#list_of_patient > .modal-dialog {
  width: 80%;
  height: 60%;
  margin-left: 10%;
}

#list_of_patient > .modal-content {
  height: auto;
  min-height: 50%;
  border-radius: 0;
}

.modal-body{
	padding: 0px !important;
}

.modal-footer{
	padding: 8px 15px;
	margin-top: 0px;
}
