{% extends 'base.html' %}
{% block content %}
	{% verbatim %}
    <div class="container">
		<div class="col-sm-8 col-sm-offset-2 form-area">
		    <!-- FORM -->
		    <!-- pass in the variable if our form is valid or invalid -->
		    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate > 
		    	<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

		        <!-- FIRSTNAME -->
	        	<div class="form-group col-sm-6">
		            <label>First Name</label>
		            <input type="text" name="first_name" class="form-control" ng-model="patient.first_name" 
		            ng-minlength="3" ng-maxlength="8" ng-required="true">
		            <p ng-show="userForm.first_name.$error.minlength" class="help-block">
		            	Firstname is too short.</p>
  					<p ng-show="userForm.first_name.$error.maxlength" class="help-block">
  					Firstname is too long.</p>
	        	</div>

		        <!-- LASTNAME -->
		        <div class="form-group col-sm-6">
		            <label>Last Name</label>
		            <input type="text" name="last_name" class="form-control" ng-model="patient.last_name" 
		            ng-minlength="3" ng-maxlength="8" ng-required="true">
		            <p ng-show="userForm.last_name.$error.minlength" class="help-block">Lastname is too short.
		            </p>
					<p ng-show="userForm.last_name.$error.maxlength" class="help-block">Lastname is too long.</p>
		        </div>
	        
		        <!-- AGE -->
		        <div class="form-group col-sm-6">
		            <label>Age</label>
		            <input type="number" name="age" class="form-control" ng-min="0" ng-model="patient.age" required>
		            <p ng-show="userForm.age.$invalid && !userForm.age.$pristine" class="help-block">age is required</p>
		            <p ng-show="userForm.age.$error.min" class="help-block">age always be positive</p>
		        </div>
		        
		        <!-- Phone Number -->
		        <div class="form-group col-sm-6">
		            <label>Phone Number</label>
		            <input type="text" class="form-control" ng-minlength="10" ng-maxlength="10" name="phone" 
		            placeholder="Phone" ng-model="patient.phone" ng-required="true">
		            <p ng-show="userForm.phone.$error.minlength" class="help-block">Phone number not less that 10 char</p>
  					<p ng-show="userForm.phone.$error.maxlength" class="help-block">Phone number not more than 10 char</p>
		        </div>

		        <!-- Date of Birth -->
		        <div class="form-group col-sm-6">
		            <label>Date of Birth</label>
		            <input type="date" class="form-control" max="{{date | date:'yyyy-MM-dd'}}" name="dob"
		            placeholder="Date of Birth" ng-model="patient.dob" data-ng-modal="value">
  					<p ng-show="userForm.dob.$error.max" class="help-block">Date of Birth is less than todays</p>
		        </div>
		       
		        <!-- EMAIL -->
		        <div class="form-group col-sm-6">
		            <label>Email</label>
		            <input type="email" name="email" class="form-control" ng-model="patient.email">
		            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email</p>
		        </div>
		        <!-- Gender  -->
		        <div class="form-group col-sm-6">
		        	<label>Gender </label>
    				<select ng-model="patient.gender" ng-options="g.type for g in genderList" style="width:100%;height:30px;">
    				</select>
		        </div>

		        <!-- Text Information -->
		        <div class="form-group col-sm-6">
      				<label for="comment">Text Information </label>
      				<textarea ng-model="patient.comment" class="form-control" rows="3"></textarea>
    			</div>

		        <!-- SUBMIT BUTTON -->
		        <button type="submit" class="btn btn-primary form-sumbit-button" ng-disabled="userForm.$invalid">Submit</button>
		    </form>

		</div><!-- col-sm-11 -->
	</div><!-- /container -->
	{% endverbatim %}

{% endblock %}
