{% extends 'base.html' %}

{% block content %}
{% verbatim %}
<div ng-init="displyPatient()" class="showTable">
	<h4 class="modal-title">Patient List</h4>
	<label>Search :
		<input type="text" ng-model="search" />
	</label>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>first name</th>
				<th>last name</th>
				<th>phone</th>
				<th>email</th>
				<th>age</th>
				<th>Date of Birth</th>
				<th>gender</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in patientLits | filter:search | filter:paginate">
				<td>{{row.fields.first_name}}</td>
				<td>{{row.fields.last_name}}</td>
				<td>{{row.fields.phone}}</td>
				<td>{{row.fields.email}}</td>
				<td>{{row.fields.age}}</td>
				<td>{{row.fields.dob | date: 'dd/MM/yyyy'}}</td>
				<td>{{row.fields.gender}}</td>
				<td>{{row.fields.comment}}</td>
				<td>
					<button type="button" ng-click="removeItem(row.pk)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<pagination total-items="totalItems" ng-model="currentPage"  
	     max-size="5" boundary-links="true"  
	     items-per-page="numPerPage" class="pagination-sm">  
	</pagination>
</div>
{% endverbatim %}
{% endblock %}